/* globals.css */

/* Estilos globales */

/* Definir estilos de fuente predeterminados */
body {
font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Estilo de enlace predeterminado */
a {
color: #ED1D24; /* Cambiamos el color del enlace a rojo /
text-decoration: none;
font-weight: bold; /* Agregamos negrita */
}

/* Ajuste el modelo de caja para incluir los bordes */

{
box-sizing: border-box;
}
/* Definir los estilos de la página */
html,
body {
padding: 0;
margin: 0;
width: 100%; /* Hace que el cuerpo ocupe todo el ancho de la pantalla */
background-color: #000; /* Cambiamos el color de fondo a negro */
}

body {
margin: 0 auto;
max-width: 1024px; /* Agregamos un ancho máximo para centrar el contenido */
padding: 0 16px; /* Agregamos un espacio interior */
}

/* Definir estilos para modo oscuro */
@media (prefers-color-scheme: dark) {
html {
color-scheme: dark;
}
body{
color: #FFF; /* Cambiamos el color del texto a blanco */
background: #222; /* Cambiamos el color de fondo a gris oscuro */
}
}